@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

@layer base {
  body {
    @apply bg-[#ffffff] text-[#1C1F23] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }
}

.btn {
  text-transform: uppercase;
  background: #2d363a;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border: solid 1px #2d363a;
  cursor: pointer;
}
.btn:hover {
  color: #2d363a;
  background-color: #ffffff;
  border: solid 1px #2d363a;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 4em;
}
.waviy-span {
  position: relative;
  display: inline-block;
  color: #ffffff;
  animation: waviy 1.7s infinite;
  animation-delay: calc(0.1s * var(--i));
  font-weight: bold;
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.mainBtn {
  color: #ffffff;
  padding: 0.5em 2em;
  font-size: 1.2em;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.mainBtn:hover {
  color: #2d363a;
  background-color: #ffffff;
}

@media (max-width: 600px) {
  .google-map {
    display: none;
  }
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
  }

  .modal.show {
    opacity: 1;
    pointer-events: visible;
  }

  .modal-content {
    width: 30rem;
    background-color: #ffffff;
    transition: all 0.4s ease-in-out;
    transform: translateY(-200px);
    text-align: center;
  }

  .modal.show .modal-content {
    transform: translateY(0);
  }

  .modal.exit .modal-content {
    transform: translateY(-200px);
  }

  .modal-header,
  .modal-footer {
    padding: 1rem;
  }

  .modal-title {
    margin: 0%;
    font-size: 1.5rem;
  }

  .modal-body {
    padding: 0% 2.5%;
  }

  .image_box {
    width: 350px;
    display: block;
  }

  .modal-body-favorite-photoes {
    width: 33%;
  }

  .favorite_image {
    display: flex;
    margin: 0%;
  }

  .image_box {
    width: 100%;
    text-decoration: none;
  }

  .modal_image {
    width: 40%;
    height: 40%;
  }

  .modal-body-favorite-photoes {
    width: 100%;
  }

  .favorite_h1 {
    font-size: 18px;
    margin: 0%;
  }
  .favorite_p {
    font-size: 13px;
    margin: 0%;
  }
  .modal-button {
    cursor: pointer;
    width: 10rem;
    padding: 0 2.5rem;
    font-size: 0.8rem;
    position: relative;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: #ffffff;
    color: #2d363a;
    border: 1px solid #2d363a;
  }
  .modal-button:hover {
    color: #ffffff;
    background-color: #2d363a;
    border: 1px solid #ffffff;
  }
}

@media (min-width: 601px) and (max-width: 1019px) {
  .google-map {
    display: none;
  }
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
  }

  .modal.show {
    opacity: 1;
    pointer-events: visible;
  }

  .modal-content {
    width: 40rem;
    height: 42rem;
    background-color: #ffffff;
    transition: all 0.4s ease-in-out;
    transform: translateY(-200px);
    text-align: center;
  }

  .modal.show .modal-content {
    transform: translateY(0);
  }

  .modal.exit .modal-content {
    transform: translateY(-200px);
  }

  .modal-header,
  .modal-footer {
    padding: 1rem;
  }

  .modal-title {
    margin: 0;
    font-size: 1.5rem;
  }

  .modal-body {
    padding: 1px;
    height: 26rem;
  }

  .image_box {
    width: 350px;
    display: block;
  }

  .modal-body-favorite-photoes {
    width: 33%;
  }

  .favorite_image {
    display: flex;
  }

  .image_box {
    width: 100%;
    text-decoration: none;
  }

  .modal_image {
    width: 11rem;
    height: 11rem;
  }

  .modal-body-favorite-photoes {
    width: 100%;
  }

  .favorite_h1 {
    font-size: 1.5rem;
  }
  .favorite_p {
    font-size: 1rem;
  }
  .modal-button {
    cursor: pointer;
    width: 10rem;
    padding: 0 2.5rem;
    margin-top: 7rem;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: #ffffff;
    color: #2d363a;
    border: 1px solid #2d363a;
  }
  .modal-button:hover {
    color: #ffffff;
    background-color: #2d363a;
    border: 1px solid #ffffff;
  }
}

@media (min-width: 1020px) {
  .google-map {
    width: 500px;
    height: 500px;
    border: 0;
    margin-top: 3rem;
  }
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
    z-index: 10;
  }

  .modal.show {
    opacity: 1;
    pointer-events: visible;
  }

  .modal.exit {
    opacity: 0;
  }

  .modal-content {
    width: 80rem;
    height: 37rem;
    background-color: #ffffff;
    transition: all 0.4s ease-in-out;
    transform: translateY(-200px);
    text-align: center;
  }

  .modal.show .modal-content {
    transform: translateY(0);
  }

  .modal.exit .modal-content {
    transform: translateY(-200px);
  }

  .modal-header {
    padding: 1rem;
  }

  .modal-footer {
    margin-top: 2rem;
  }

  .modal-title {
    margin: 0;
    font-size: 1.5rem;
  }

  .modal-body {
    padding: 1px;
    height: 26rem;
    display: flex;
    justify-content: space-around;
  }

  .image_box {
    width: 350px;
    display: block;
  }

  .modal-body-favorite-photoes {
    width: 33%;
  }

  .favorite_image {
    width: 120%;
    height: auto;
    margin: 0%;
  }

  .hover {
    position: relative;
  }
  .modal_image {
    display: block;
    width: 100%;
    filter: brightness(40%);
  }
  figcaption {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    width: calc(110% - 30px);
    height: calc(100% - 30px);
    color: #fff;
    border: solid 1px #fff;
  }
  .txt_box {
    position: relative;
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
  .favorite_h1 {
    color: #ffffff;
    margin: 0%;
  }
  .favorite_p {
    margin: 0%;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.5rem;
  }

  figcaption:hover {
    opacity: 1;
  }

  .modal-button {
    cursor: pointer;
    width: 15rem;
    padding: 0 2.5rem;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: #ffffff;
    color: #2d363a;
    border: 1px solid #2d363a;
  }
  .modal-button:hover {
    color: #ffffff;
    background-color: #2d363a;
    border: 1px solid #ffffff;
  }
}
